policy_module(bubblewrap, 1.0.0)


########################################
#
# Declarations
#

attribute_role bubblewrap_roles;
roleattribute object_r bubblewrap_roles;



type bubblewrap_t;
type bubblewrap_exec_t;
domain_type(bubblewrap_t, bubblewrap_exec_t)
application_domain(bubblewrap_t, bubblewrap_exec_t)

role bubblewrap_roles types bubblewrap_t;

unconfined_domain_noaudit(bubblewrap_t)
