policy_module(flatpakfull, 1.0.0)


########################################
#
# Declarations
#

attribute_role flatpak_roles;
roleattribute object_r flatpak_roles;



type flatpak_t;
type flatpak_exec_t;
domain_type(flatpak_t, flatpak_exec_t)
application_domain(flatpak_t, flatpak_exec_t)

role flatpak_roles types flatpak_t;

unconfined_domain_noaudit(flatpak_t)
